
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle ;
    background-color: rgb(43, 40, 40);
  }
  
  li {
    float: left;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  body {
      background-color: lightgrey;
      color: rgb(0, 0, 0);
    }
    
    h1 {
      background-color: rgb(253, 185, 39);
      color: rgb(85, 37, 130);
    }
    a {
      color: rgb(245, 255, 105);
    }
  
    .p1 {
      font-family: "Georgia";
    }
    