
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle ;
    background-color: rgb(17, 16, 16);
  }
  
  li {
    float: left;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  body {
      background-color: lightgrey;
      color: rgb(0, 0, 0);
    }
    
    h1 {
      background-color: rgb(218, 221, 35);
      color: rgb(142, 51, 226);
    }
    a {
      color: rgb(21, 7, 54);
    }
  
    .p1 {
      font-family: "Georgia";
    }
    